.hero {
    background-color: yellowgreen;
    background-image: url(../images/jollof\ 1.jpg);
    max-height: 80vh;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 90px;
    font-weight: 500;
    margin-top: 50%;
}
.hero p {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20%;
}
*{margin: 0;}
.img-thumbnail{
    height: 250px;
    object-fit: cover;
}
#team .card:hover{
  border-color: rgb(13, 110, 253);
  box-shadow: 0px 0px 10px 2px rgb(207, 220, 240);
  transform: scale(0.98);    
}
header{
    background-color: rgb(66, 117, 15);
}
#toggleMobileMenu a{
    color: whitesmoke;
     
}
#toggleMobileMenu a:hover{
    color: darkblue;  
}
.navbar-nav > li > a:hover{
    background-color:#f1cca1;
    
}
.green {
    color: green;
}
.wht {
    color: white;
}
.jr {
    color: rgb(124, 12, 12);
}

.intro h4 {
    text-align: center;
}
.intro h2{
    text-decoration: underline;
    text-align: center;
}

.section-break-2 {
  background-color: transparent;
  border: 0;
  border-top: 1px solid rgb(200, 200, 200);
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 80%;
}
.nums {
    font-weight: 500;
    padding: .1em;
}



footer{
    background-color: rgb(83, 128, 38); ;
}
footer li{
    list-style: square;
    color: white;
}
#about li{
    list-style: none;
}
footer a{
    color: white;
    text-decoration: none;
}
.dropdown-menu{
    background-color: #d4e670;
}